@font-face {
  font-family: "NotoSans";
  src: url("../other/NotoSansTC-VariableFont_wght.ttf");
}
::-webkit-scrollbar {
  display: none;
}
/* body */
body {
  background: #1e1e1e;
  font-family: "NotoSans";
}
.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #1e1e1e 0px,
    #1e1e1e 80px,
    transparent 150px
  );
  z-index: -2;
}
/* body */

/* header */
.nav-pc {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  float: left;
  margin-top: 10px;
}
.nav-pc img,
.nav-pc ul,
.nav-pc ul li {
  display: inline-block;
}
.nav-pc ul {
  margin-left: auto;
  margin-right: 10px;
}
.nav-pc ul li {
  margin-right: 10px;
}
.nav-pc ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}
.nav-pc ul li a::after {
  content: "";
  width: 0px;
  height: 3px;
  margin-top: 3px;
  display: block;
  background: #fff;
  transition: 300ms;
}
#check {
  margin-left: auto;
  margin-right: 10px;
  display: none;
}
.fa-bars {
  color: #fff;
}
.nav-pc ul li a:hover::after {
  width: 100%;
}

.title-image {
  position: absolute;
  z-index: -9;
}
/* header */

/* header mobile */
.nav-mobile {
  display: none;
  z-index: 9;
}
.img2 {
  position: relative;
  transform: translate(-50%, 0%) scale(0.8);
  top: 0%;
  left: 50%;
  width: 100%;
  z-index: 9;
}
.menuicon {
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: #fff;
  z-index: 9;
}
.nav-ul-mobile {
  display: none;
  z-index: 9;
}
.nav-ul-mobile li {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background-color: #cccccc;
  border: #1e1e1e 1px solid;
  z-index: 9;
}
.nav-ul-mobile li a {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
  z-index: 9;
}
/* header mobile */

/* 第一畫面(主畫面) */
.title {
  position: absolute;
  bottom: 20px;
  left: 5vw;
  font-weight: bold;
  color: #6f6f6f;
}
.title-1 {
  font-size: 3.8vw;
  display: inline-block;
  color: #fff;
}
.title-2 {
  font-size: 2.7vw;
  display: inline-block;
}
.title-3 {
  font-size: 2.75vw;
  padding-top: 10px;
}
.planet {
  width: 470px;
  height: 500px;
  position: absolute;
  right: 10px;
  bottom: 0px;
  z-index: -2;
  z-index: -1;
}
.boy {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 120px;
  bottom: 200px;
  z-index: -1;
}
.talkdiv {
  z-index: -1;
  width: 200px;
  height: 50px;
  background-color: #eee;
  border: #eee 0px solid;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 450px;
  bottom: 600px;
}
.talkdiv p {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.main {
  position: absolute;
  font-size: 60px;
  top: 200px;
  left: 250px;
  color: #fff;
  overflow: hidden;
  z-index: -1;
  width: 360px;
  height: 120px;
}
.mainp {
  margin-top: 20px;
  font-size: 40px;
}
.main p {
  margin-left: 12px;
  overflow: hidden;
  position: relative;
  left: -400px;
  transition: left 200ms ease-in-out;
}
.main div {
  position: absolute;
  background-color: #fff;
  border: #fff 0px solid;
  border-radius: 30px;
  height: 0;
  width: 0;
  padding-top: 10px;
  transition: height 200ms ease-in-out;
  transition: width 200ms ease-in-out;
}
.clock {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  position: absolute;
  bottom: 150px;
  left: 5vw;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  visibility: visible;
}
#time {
  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
#date {
  letter-spacing: 0.1em;
  font-size: 24px;
}
/* 第一畫面(主畫面) */

/* 第二畫面(關於我) */
.about {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
}
.aboutdiv {
  width: 1000px;
  height: 500px;
  background-color: #ccc;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  border: 0px #fff solid;
  border-radius: 100px;
  box-shadow: 0 0 35px 0 #ccc;
}
.about-span1 {
  margin-top: -30px;
}
.about-span1 p {
  font-size: 50px;
  font-weight: bold;
}
.about-span1 img {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  padding-left: 12.5px;
  padding-right: 12.5px;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
.about-span1 img:hover {
  transform: scale(1.5);
}
.about-span1 a {
  text-decoration: none;
}
.about-span2 p {
  margin-top: 30px;
  font-size: 30px;
}
.about-span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}
/* 第二畫面(關於我) */

/* 第三畫面(關於網站) */
.about-web {
  position: absolute;
  top: 200%;
  left: 0;
  width: 100%;
  height: 100%;
}
.ab-web-header {
  width: 100%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 20px #fff;
  font-size: 30px;
  color: #eee;
}
.abweb {
  width: 100%;
  height: 30%;
}
.abweb div {
  display: inline-block;
  font-size: 2.5vw;
  color: #effaf2;
  text-shadow: 0 0 20px #0ae6af;
}
.abweb-p-title {
  font-size: 5vw;
  color: #cadcff;
  text-shadow: 0 0 20px #0aafe6;
}
.abweb div p {
  display: inline-block;
}
.web-left div {
  margin-left: 20px;
  padding-top: 50px;
}
.web-right div {
  margin-right: 20px;
  text-align: right;
  padding-top: 50px;
}
.web-right {
  text-align: right;
}
/* 第三畫面(關於網站) */

/* RWD */
.title-image {
  visibility: visible; /* 木星預設顯示 */
}
@media screen and (max-width: 1199px) {
  .nav-mobile {
    display: block;
  }
  .nav-pc {
    display: none;
  }
  .title-image {
    visibility: hidden; /* 木星RWD隱藏 */
  }
  .main {
    top: 15%;
    left: 3%;
  }
  .planet {
    width: 141px;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 25%;
    z-index: -2;
    z-index: -1;
  }
  .boy {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 30px;
    bottom: calc(25% + 65px);
    z-index: -1;
  }
  .talkdiv {
    z-index: -1;
    width: 150px;
    height: 30px;
    background-color: #eee;
    border: #eee 0px solid;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 130px;
    bottom: calc(25% + 162px);
  }
  .talkdiv p {
    display: flex;
    align-items: center;
    font-size: 5vw;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
  }
  .clock {
    visibility: hidden;
  }
  .title-1 {
    font-size: 10vw;
    display: block;
    padding-bottom: 10px;
  }
  .title-2 {
    font-size: 8vw;
  }
  .title-3 {
    font-size: 4vw;
  }
}

/* RWD */
