/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css reset */

/* body */
body {
  background: #1e1e1e;
}
.body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom,
    #1e1e1e 0px,
    #1e1e1e 80px,
    transparent 150px
  );
  z-index: -1;
}
/* body */

/* header */
header {
  display: flex;
  align-items: center;
  color: white;
}
header img {
  width: 356px;
  height: 60px;
  padding-top: 5px;
  padding-left: 5px;
}
header a {
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 22px;
}
header a:hover {
  font-weight: 900;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 4.4px;
}
header img {
  padding-right: 6px;
}
.title-image {
  position: absolute;
  z-index: -9;
}
/* header */

/* mobile-nav */
.mobile-nav {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  visibility: hidden;
}
.icon-nav {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  border: #444 5px solid;
  box-shadow: 0 0 35px 0 #e0e5e8;
  border-radius: 20px;
}
.icon-nav a {
  width: 100%;
  height: 100%;
}
.icon-nav i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.mobile-nav li {
  font-weight: 900;
  width: 120px;
  height: 30px;
  font-size: 20px;
  background-color: #eee;
  border: #444 5px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.mobile-nav ul {
  margin-top: 70px;
}
#error {
  visibility: hidden;
}
/* mobile-nav */

/* 第一畫面(主畫面) */
.planet {
  width: 470px;
  height: 500px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.title {
  position: absolute;
  bottom: 20px;
  left: 5vw;
  font-weight: 900;
  color: #6f6f6f;
}
.title-1 {
  font-size: 3.8vw;
  display: inline-block;
  color: #fff;
}
.title-2 {
  font-size: 2.7vw;
  display: inline-block;
}
.title-3 {
  font-size: 2.75vw;
}
/* 第一畫面(主畫面) */
/* RWD */
@media (max-width: 1000px) {
  header img {
    position: absolute;
    transform: translate(-50%, -0);
    top: 0;
    left: 50%;
  }
  .mobile-nav {
    visibility: visible;
  }
  header a {
    visibility: hidden;
  }
}
@media screen and (min-width: 1001px) {
  .mobile-nav,
  i {
    visibility: hidden;
  }
}
/* RWD */
